<div class="container-fluid h-100" style="background-color: greenyellow;">
    <div class="d-flex flex-column h-100">
        <div class="" style="background-color: orange; margin-top: 20px;">
            <!-- calendar view -->
            <div class="container">
                <div class="row" style="background-color: red;">
                    <!-- date picker view -->
                    <button class="col-2"
                            (click)="onMinusDate()"
                            style="background-color: blueviolet;">
                        < </button>
                            <p class="col-8 text-center">{{displayMonthStr}}</p>
                            <button class="col-2"
                                    (click)="onPlusDate()"
                                    style="background-color: blueviolet;"> > </button>
                </div>
            </div>

            <!-- month view -->
            <div class="" style="background-color: cyan; margin-top: 20px;">
                <table class="w-100" style="background-color: moccasin;">
                    <thead class="text-center">
                        <tr>
                            <th style="background-color: green;">Mon</th>
                            <th style="background-color: lightblue;">Tue</th>
                            <th style="background-color: green;">Wed</th>
                            <th style="background-color: lightblue;">Thu</th>
                            <th style="background-color: green;">Fri</th>
                            <th style="background-color: lightblue;">Sat</th>
                            <th style="background-color: green;">Sun</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        <tr *ngFor="let dateForMonth of datesForMonth">
                            <td>{{dateForMonth[0]}}</td>
                            <td>{{dateForMonth[1]}}</td>
                            <td>{{dateForMonth[2]}}</td>
                            <td>{{dateForMonth[3]}}</td>
                            <td>{{dateForMonth[4]}}</td>
                            <td>{{dateForMonth[5]}}</td>
                            <td>{{dateForMonth[6]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex-grow-1" style="background-color: blue; margin-top: 20px;">
            <!-- day info view -->
            <table class="w-100" style="background-color: yellowgreen;">
                <thead class="text-center">
                    <tr>
                        <th style="background-color: green;">Date</th>
                        <th style="background-color: lightblue;">Fajr</th>
                        <th style="background-color: green;">Sun</th>
                        <th style="background-color: lightblue;">Luhar</th>
                        <th style="background-color: green;">Asar</th>
                        <th style="background-color: lightblue;">Ma'rib</th>
                        <th style="background-color: green;">Isha</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr *ngFor="let timesForDate of timesForDates">
                        <td>{{timesForDate[0]}}</td>
                        <td>{{timesForDate[1]}}</td>
                        <td>{{timesForDate[2]}}</td>
                        <td>{{timesForDate[3]}}</td>
                        <td>{{timesForDate[4]}}</td>
                        <td>{{timesForDate[5]}}</td>
                        <td>{{timesForDate[6]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>