/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-scss/bootstrap.scss";

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$light-dark: #3a3a3a;
$dark-white: #f3f3f3;
$light-gray: #f2f2f2;
$dark-blue: #00689f;
$light-blue: #c7e8fa;
$dark-red: #ff0080;
$light-red: #ffe6f9;
$dark-yellow: #a58c00;
$light-yellow: #fffccc;
$action-blue: #3fa2f8;

html,
body {
    height: 100%;
}

.container-fluid {
    // background-color: white;
}

.calendar-view {
    // background-color: red;
    margin: 10px -5px 22px -5px;
}

.date-throttle {
    background-color: $white;
    margin-bottom: 15px;
}

.date-text {
    color: $black;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.left-button,
.right-button {
    background-color: $transparent;
    border: none;
    padding: 5px;
    height: 40px;
    width: 34px;
}

.left-arrow,
.right-arrow {
    display: inline-block;
    height: 30px;
    width: 24px;
}

.left-arrow {
    background: url("./assets/left-arrow.svg") no-repeat center center;
}

.right-arrow {
    background: url("./assets/right-arrow.svg") no-repeat center center;
}

.month-view {
    background-color: $white;
    margin-top: 15px;
}

.split-table .st-bottom-border-5 {
    border-bottom: 5px solid $white;
}

.split-table .st-bottom-border-2 {
    border-bottom: 2px solid $white;
}

.split-table .st-week-th,
.split-table .st-sat-th,
.split-table .st-sun-th,
.split-table .st-yellow-th {
    font-size: 15px;
    font-weight: bold;
}

.split-table .st-yellow-th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $dark-yellow;
    color: $dark-white;
}

.split-table .st-week-th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $light-dark;
    color: $dark-white;
}

.split-table .st-sat-th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $dark-blue;
    color: $dark-white;
}

.split-table .st-sun-th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $dark-red;
    color: $dark-white;
}

.split-table .st-week-td,
.split-table .st-sat-td,
.split-table .st-sun-td,
.split-table .st-yellow-td {
    font-size: 14px;
    font-weight: normal;
}

.split-table .st-yellow-td {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $light-yellow;
    color: $black;
}

.split-table .st-week-td {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $light-gray;
    color: $black;
}

.split-table .st-sat-td {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $light-blue;
    color: $black;
}

.split-table .st-sun-td {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: $light-red;
    color: $black;
}

$percent: 14.29%;

.split-table > thead > tr > th {
    width: $percent;
    padding: 2px 0px;
}

.month-view > .split-table > tbody > tr > td {
    padding: 2px 0px;
}

.action-bar {
    margin: 0px 0px 24px 0px;
}

.action-button {
    background-color: $action-blue;
    color: $white;
    border: none;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 8px;
    height: 32px;
    border-radius: 10px;
    width: 33%;

    opacity: 50%;
}

.swap-button {
    border-bottom-left-radius: 0px;
}

.today-button {
    border-top-right-radius: 0px;
}

.swap-icon {
    background: url("./assets/swap.svg") no-repeat center center;
    display: inline-block;
    height: 12px;
    width: 15px;
    margin-right: 8px;
}

$clock-height: 24px;

.clock-view {
    height: $clock-height;
}

.clock-view .clock-blinked {
    color: $white;
}

.clock-text {
    font-size: $clock-height;
    font-weight: bold;
}

.clock-ampm {
    font-size: 9px;
    font-weight: normal;
    margin-left: 2px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.date-info-view {
    margin: 0px -5px;
}

$flip-bottom-margin: 15px;
$dot-height: 8px;
$flip-height: $flip-bottom-margin + $dot-height + $flip-bottom-margin;

.flip-indicator {
    height: $flip-height;
}

.dot-indicator {
    background: url("./assets/dot.svg") no-repeat center center;
    display: inline-block;
    height: $dot-height;
    width: $dot-height;
    margin: $flip-bottom-margin 10px;
}